automacoes/Agendamento/Agendas/Fernanda.json
{
  "name": "Fernanda | Heroic Leap",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "56f12f74-068e-47f0-923b-9a923daf4628"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamento"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bdd94896-5878-4b17-a584-548c02a094c7",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "reagendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reagendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ad23774c-8658-4fef-91d5-fccd1f8ae18c",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fc4c45ac-3617-4552-99e8-a334b48f9b6f",
                    "leftValue": "={{ $json.evento }}",
                    "rightValue": "VerHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VerHorarios"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        832
      ],
      "id": "db090a9d-7ad7-4eae-bf8d-67b43dc2fc30",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# Etiquetar a conversa como \"agendamento_realizado\"",
        "height": 336,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        32
      ],
      "typeVersion": 1,
      "id": "8f4fd17f-67c8-42a2-becd-36c1f28f8003",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setar_informacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $json['id_conta_chatwoot'] }}/conversations/{{ $json['id_conversa_chatwoot'] }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"agendamento_realizado\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        192
      ],
      "id": "bb4f872a-0465-421c-9851-482339f89699",
      "name": "etiqueta_agendamento_realizado",
      "credentials": {
        "httpHeaderAuth": {
          "id": "voEs24CcUUXw3ksP",
          "name": "Chatwoot - Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cxcvecqjtiegnwlkvnlr.supabase.co/functions/v1/agendamentos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a3b80d5c-2777-4890-aa9e-3577a8f54fb6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agenda_id",
              "value": "coloque o id da agenda aqui"
            },
            {
              "name": "lead_id",
              "value": "={{ $('setar_informacoes').item.json.lead_id }}"
            },
            {
              "name": "procedimento_nome",
              "value": "={{ $('setar_informacoes').item.json.procedimento }}"
            },
            {
              "name": "nome_lead",
              "value": "={{ $('setar_informacoes').item.json.nome_lead }}"
            },
            {
              "name": "whatsapp_lead",
              "value": "={{ $('setar_informacoes').item.json.whatsapp_lead }}"
            },
            {
              "name": "data",
              "value": "={{ $('setar_informacoes').item.json.data_atendimento }}"
            },
            {
              "name": "hora",
              "value": "={{ $('setar_informacoes').item.json.hora_atendimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        384
      ],
      "id": "cf0078b8-86e9-4c74-938c-35d29ce74c1a",
      "name": "realizar_agendamento"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cxcvecqjtiegnwlkvnlr.supabase.co/functions/v1/agendamentos-id/{{ $('setar_informacoes').item.json.id_agendamento }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a3b80d5c-2777-4890-aa9e-3577a8f54fb6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agenda_id",
              "value": "coloque aqui o id da agenda"
            },
            {
              "name": "data",
              "value": "={{ $('setar_informacoes').item.json.data_atendimento }}"
            },
            {
              "name": "hora",
              "value": "={{ $('setar_informacoes').item.json.hora_atendimento }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        848
      ],
      "id": "7c40ec8d-c6f5-4ff8-a31f-d03afa04c554",
      "name": "reagendar",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://cxcvecqjtiegnwlkvnlr.supabase.co/functions/v1/agendamentos-id/{{ $('setar_informacoes').item.json.id_agendamento }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a3b80d5c-2777-4890-aa9e-3577a8f54fb6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agenda_id",
              "value": "coloque o ID da agenda aqui"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        293,
        1584
      ],
      "id": "d1a626f3-6b26-4401-acf0-6ed7078a0a70",
      "name": "cancelar",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "Agendamento realizado com sucesso",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        192
      ],
      "id": "c8eb77e0-f3fb-4d8f-bb8f-350bbc8ee442",
      "name": "response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93026b2c-281e-4205-8d9f-ddfd1fef3cb2",
              "leftValue": "={{ $json.mensagem }}",
              "rightValue": "Agendamento criado com sucesso.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        384
      ],
      "id": "55e9f117-a753-435d-bea2-7441ee12b262",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4664bf5-2486-43e1-a2ab-08764eefcf92",
              "name": "nome_lead",
              "value": "={{ $json.nome_lead }}",
              "type": "string"
            },
            {
              "id": "3565ecee-2bb0-4540-ba3f-be0b1a5991e5",
              "name": "whatsapp_lead",
              "value": "={{ $json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "b37abf53-5053-4c25-9f06-5eb608a7674e",
              "name": "evento",
              "value": "={{ $json.evento }}",
              "type": "string"
            },
            {
              "id": "8b2b5e03-a219-4fe8-bb89-2e074f682617",
              "name": "procedimento",
              "value": "={{ $json.procedimento }}",
              "type": "string"
            },
            {
              "id": "1b15a01d-54a4-4aa2-977e-91ba8154ce49",
              "name": "lead_id",
              "value": "={{ $json.lead_id }}",
              "type": "string"
            },
            {
              "id": "9af042dc-501f-44e9-a1fe-c13c932857bb",
              "name": "url_chatwoot",
              "value": "={{ $json.url_chatwoot }}",
              "type": "string"
            },
            {
              "id": "cb86fe7a-3458-4c52-b7db-d6f6f300ad97",
              "name": "data_atendimento",
              "value": "={{ $json.data_atendimento }}",
              "type": "string"
            },
            {
              "id": "f2761f70-feda-4673-9168-a17affc93e49",
              "name": "hora_atendimento",
              "value": "={{ $json.hora_atendimento }}",
              "type": "string"
            },
            {
              "id": "0838b93e-ac31-4a40-ae5a-bd8e9e0a81b0",
              "name": "id_agendamento",
              "value": "={{ $json.id_agendamento }}",
              "type": "string"
            },
            {
              "id": "4220b954-194c-4df7-8f6c-72a686ce3fea",
              "name": "id_agenda",
              "value": "={{ $json.id_agenda }}",
              "type": "string"
            },
            {
              "id": "b7549f7c-c4f1-48a5-8aea-4a54b5c4d854",
              "name": "id_conta_chatwoot",
              "value": "={{ $json.id_conta_chatwoot }}",
              "type": "string"
            },
            {
              "id": "d2351c57-8b3f-4617-b998-16334058e0f1",
              "name": "id_conversa_chatwoot",
              "value": "={{ $json.id_conversa_chatwoot }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        864
      ],
      "id": "48a53ad5-cb64-445a-b285-54d34d87c06e",
      "name": "setar_informacoes"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nome_lead"
            },
            {
              "name": "whatsapp_lead"
            },
            {
              "name": "evento"
            },
            {
              "name": "procedimento"
            },
            {
              "name": "lead_id"
            },
            {
              "name": "data_atendimento"
            },
            {
              "name": "hora_atendimento"
            },
            {
              "name": "id_agendamento"
            },
            {
              "name": "id_agenda"
            },
            {
              "name": "url_chatwoot"
            },
            {
              "name": "id_conta_chatwoot"
            },
            {
              "name": "id_conversa_chatwoot"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -944,
        864
      ],
      "id": "efc14ff8-05e7-4226-9dcf-15590123773d",
      "name": "gatilho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "Aconteceu um problema e não foi possível realizar o agendamento",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        400
      ],
      "id": "532065ae-5601-43ef-8751-6a10a92e5cf1",
      "name": "response1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('setar_informacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_agendamento",
              "fieldValue": "={{ $json.agendamento.data_hora_inicio }}"
            },
            {
              "fieldId": "agendamento_criado_em",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "agendado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        640,
        192
      ],
      "id": "e72afa39-43af-4877-a179-777bd63b674e",
      "name": "atualizar_banco_dados",
      "credentials": {
        "supabaseApi": {
          "id": "juhkfWmwyQbFaGjC",
          "name": "Supabase - Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.mensagem }}{{ $json.sugestoes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        2032
      ],
      "id": "b1e20f7d-b197-4fa0-964f-30c32eb7f6e5",
      "name": "response2"
    },
    {
      "parameters": {
        "url": "https://cxcvecqjtiegnwlkvnlr.supabase.co/functions/v1/agendamentos-horarios",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "agenda_id",
              "value": "id_agenda_aqui"
            },
            {
              "name": "data",
              "value": "={{ $('setar_informacoes').item.json.data_atendimento }}"
            },
            {
              "name": "hora",
              "value": "={{ $('setar_informacoes').item.json.hora_atendimento }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer a3b80d5c-2777-4890-aa9e-3577a8f54fb6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        2080
      ],
      "id": "0eb37932-30b9-4342-a873-bc2bdc0200f6",
      "name": "VerHorarios",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "=Cancelamento feito com sucesso.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        1424
      ],
      "id": "1885a4ea-23ff-4040-8c3c-85e334ac2aac",
      "name": "response3"
    },
    {
      "parameters": {
        "content": "# Etiquetar a conversa como \"cancelou_agendamento\"",
        "height": 320,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        1296
      ],
      "typeVersion": 1,
      "id": "c352d6a9-54fe-447a-bc66-ad155878f32b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setar_informacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setar_informacoes').item.json.id_conta_chatwoot }}/conversations/{{ $('setar_informacoes').item.json.id_conversa_chatwoot }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"labels\": [\n    \"cancelou_agendamento\"\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        1424
      ],
      "id": "c7e564aa-0c7b-4c47-bac7-75d263eada27",
      "name": "etiqueta_cancelou_agendamento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "voEs24CcUUXw3ksP",
          "name": "Chatwoot - Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "=Reagendamento feito com sucesso",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        768
      ],
      "id": "2482f0a7-9ae1-44d0-ab19-2336b872824e",
      "name": "response4"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('setar_informacoes').first().json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data_agendamento",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "agendamento_criado_em",
              "fieldValue": "={{ null }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "cancelou_agendamento"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        1424
      ],
      "id": "02c1a999-7728-44ec-80fd-0c9140d29186",
      "name": "atualizar_banco_dados2",
      "credentials": {
        "supabaseApi": {
          "id": "juhkfWmwyQbFaGjC",
          "name": "Supabase - Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "Aconteceu um problema e não foi possível cancelar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1648
      ],
      "id": "5f9db803-f206-4fc6-a785-6579f9747672",
      "name": "response5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "Aconteceu um problema e não foi possível reagendar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        960
      ],
      "id": "33b1e7b2-32a5-4eb8-b97c-9aa9696b9948",
      "name": "response6"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "realizar_agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reagendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VerHorarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "etiqueta_agendamento_realizado": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "realizar_agendamento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reagendar": {
      "main": [
        [
          {
            "node": "response4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cancelar": {
      "main": [
        [
          {
            "node": "atualizar_banco_dados2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "atualizar_banco_dados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setar_informacoes": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gatilho": {
      "main": [
        [
          {
            "node": "setar_informacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_banco_dados": {
      "main": [
        [
          {
            "node": "etiqueta_agendamento_realizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerHorarios": {
      "main": [
        [
          {
            "node": "response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "etiqueta_cancelou_agendamento": {
      "main": [
        [
          {
            "node": "response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_banco_dados2": {
      "main": [
        [
          {
            "node": "etiqueta_cancelou_agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "698c9cd0-0255-46fd-ab8a-b85bc88e1465",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd3f555560da593715f2409944039c2dd529d28b002c9eefb22eeac5fd695ee6"
  },
  "id": "op2CQiLWWHDUDAPH",
  "tags": []
}