automacoes/1- Secretaria - Escritorio de Advocacia.json
{
  "name": "1- Secretaria - Escritorio de Advocacia",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ec52fa2-9612-4ea2-8a10-7c740bfac64a",
              "name": "mensagem_lead",
              "value": "={{ $('ConcatenaMsg').item.json.todas_as_mensagens }}",
              "type": "string"
            },
            {
              "id": "5dee01f6-4b9d-4757-9af3-c6473638bad3",
              "name": "proximosDias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "393f631b-c48d-4818-a797-1044397b8f4f",
              "name": "whatsapp_lead",
              "value": "={{ $('setar_mensagem').item.json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "c0f02ccf-7d3d-41fb-b8d0-bf38bc0a9531",
              "name": "nome_confirmado_crm",
              "value": "={{ $('setar_mensagem').item.json.nome_confirmado_crm }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        592
      ],
      "id": "5fe61d0a-67f0-41c0-936c-29fb681c031f",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1872,
        592
      ],
      "id": "abae24e7-b84e-4440-80e7-98a014af2e4a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Pegando a mensagem original do primeiro item do input\nconst mensagensTexto = $input.first().json.output || \"\";\n\n// Verifica se há conteúdo válido e corrige \\n escapados\nif (typeof mensagensTexto !== \"string\" || !mensagensTexto.trim()) {\n    return []; // Retorna um array vazio se não houver mensagens\n}\n\n// Substitui \"\\\\n\" por um \"\\n\" real caso esteja escapado\nconst textoCorrigido = mensagensTexto.replace(/\\\\n/g, \"\\n\");\n\n// Divide a mensagem corretamente e remove espaços extras\nconst mensagensArray = textoCorrigido\n    .split(/\\n/) // Quebra corretamente onde houver \"\\n\"\n    .map(line => line.trim()) // Remove espaços antes e depois\n    .filter(line => line.length > 0); // Remove qualquer linha vazia\n\n// Agora, ao invés de retornar um único item, retorna um array de itens separados no fluxo\nreturn mensagensArray.map(msg => ({ json: { output: msg } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        592
      ],
      "id": "0d3aeba1-7eec-443e-af66-ea291b0694af",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2112,
        592
      ],
      "id": "c64a3a8f-fa54-47fa-8b05-d2a23e95f22b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quebre a mensagem abaixo com base e regras das suas informações de sistema e tire toda a formatação markdown. Jamais faça comentários adicionais.\n\nA mensagem:\n\n{{ $json.mensagem_agenteIA }}",
        "options": {
          "systemMessage": "=## Quem é você\nVocê é responsável em formatar mensagens dentro da automação do N8N. Você deve quebrar as mensagens longas em partes menores, sem alterar o conteúdo original e sem mudar nenhuma palavra sequer. Além disso, você deve remover qualquer formatação em Markdown, deixando o texto completamente limpo e sem estilos.\n\n## Sua função\nSua única função é dividir textos longos em blocos menores sem alterar nenhuma palavra. Remova toda formatação em Markdown, deixando apenas texto puro.\n\n## Regras\n- Nunca mude palavras, não reescreva, não interprete.\n- Sempre finalize a frase antes de quebrar.\n- Máx. 200 caracteres por trecho. Nunca quebre uma frase no meio — sempre termine o pensamento completo antes de iniciar um novo bloco. Se uma frase ultrapassar 200 caracteres, deixe ela inteira em um único bloco.\n- Use \\n para separar os blocos (duas quebras de linha).\n- Nunca separe sujeito do predicado, nem verbo do complemento em blocos diferentes\n- Se o texto for curto (≤ 80 caracteres), não quebre.\n- Listas de horários, datas ou opções curtas devem ser agrupadas em um único bloco, separadas por vírgula, nunca em linhas separadas. Exemplo correto: '09:00, 10:00, 11:00, 12:00'. Nunca quebre cada horário em uma linha diferente.\n- Nunca corte após vírgula.\n- Saída limpa, sem Markdown, negrito, itálico ou títulos.\n- Não adicione comentários ou explicações.\n\n## Exemplos\n### Exemplo 1:\n🔹 Input:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados. Nossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos. Além disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos. O curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n🔹 Output:\nO curso preparatório da Tropa do Arcanjo para a ESPCEX é totalmente online e conta com videoaulas detalhadas, materiais de apoio em PDF e simulados atualizados.\\nNossos professores são especialistas em concursos militares e oferecem suporte direto aos alunos.\\nAlém disso, você terá acesso a um grupo VIP exclusivo para tirar dúvidas e interagir com outros candidatos.\\nO curso tem duração de 12 meses, mas você pode estudar no seu próprio ritmo e reassistir às aulas quantas vezes quiser.\n\n### Exemplo 2:\n🔹 Input:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos. Confira alguns dos benefícios que você terá ao se inscrever:\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.  \n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.  \n- *Simulados atualizados* com questões no formato das provas reais.  \n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.  \n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.  \n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.  \n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.  \n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!\n\n🔹 Output:\nNosso curso preparatório da Tropa do Arcanjo oferece uma metodologia completa para você ser aprovado no concurso militar dos seus sonhos.\\nConfira alguns dos benefícios que você terá ao se inscrever:\\n\n- *Aulas 100% online*, permitindo que você estude de qualquer lugar e no seu próprio ritmo.\\n\n- *Professores especializados* em concursos militares, com experiência na aprovação de centenas de alunos.\\n\n- *Simulados atualizados* com questões no formato das provas reais.\\n\n- *Materiais em PDF*, mapas mentais e resumos para facilitar o seu aprendizado.\\n\n- *Grupo VIP no WhatsApp* para tirar dúvidas diretamente com os professores e interagir com outros alunos.\\n\n- *Plano de estudos estruturado*, guiando você passo a passo até a aprovação.\\n\n- *Acesso por 12 meses*, para que você possa revisar todo o conteúdo sempre que precisar.\\n\nAlém disso, oferecemos suporte personalizado para garantir que você aproveite ao máximo sua preparação. Não perca tempo e comece a estudar hoje mesmo!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1184,
        592
      ],
      "id": "f560c1f6-5065-4c41-9121-f87b34d078d6",
      "name": "quebrar_mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4499d032-0660-4ad4-ac0f-186022972178",
              "name": "mensagem_agenteIA",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        592
      ],
      "id": "3526e039-2985-4066-b4fd-43373ab52499",
      "name": "setarMsgAgent"
    },
    {
      "parameters": {
        "content": "# Quebra a resposta em várias mensagens e tira a formatação markdown",
        "height": 560,
        "width": 860,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        432
      ],
      "typeVersion": 1,
      "id": "bb7268c2-43eb-4e6e-aa1c-0610712eae7e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Envia uma mensagem por vez para o usuário",
        "height": 560,
        "width": 1268,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        432
      ],
      "typeVersion": 1,
      "id": "c4a6b0a8-511b-45ca-879e-ede2d906565d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        816
      ],
      "id": "e8e83c26-9ed6-4f77-b6f3-9721189ef450",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "content": "# SECRETARIA",
        "height": 880,
        "width": 1060,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        352
      ],
      "typeVersion": 1,
      "id": "86dd152e-644c-486d-ad93-e0fdefa611d0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## TOOLS:",
        "height": 280,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        896
      ],
      "typeVersion": 1,
      "id": "ceb377a0-f0d1-4227-84ea-396f153227b7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp_lead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        112,
        864
      ],
      "id": "b6f2e3f0-7950-475f-b1c0-a17968372b59",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "uoT7wi570ZgcSSnW",
          "name": "Postgres | Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        864
      ],
      "id": "44b92980-c53f-4e3e-aaa3-5d3a9ed7b2f9",
      "name": "4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        704
      ],
      "id": "353c0b6f-339f-4e5f-97f9-d054e3c85160",
      "name": "setarImg1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('transcreverAudio').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2496,
        416
      ],
      "id": "f7107acd-2cc2-47e8-926b-a04e1c7b0cb3",
      "name": "setarAudio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2704,
        416
      ],
      "id": "7378ed5a-8bd9-42bb-93f5-23051d0bd58a",
      "name": "transcreverAudio",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('setar_informacoes').item.json.msg.urlMedia }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2928,
        416
      ],
      "id": "6d5c37de-082e-49da-934c-19abe77cf204",
      "name": "baixarAudio"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2144,
        704
      ],
      "id": "64445fd3-c5be-45d6-b789-4c56450e670d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "errorMessage": "Temos um erro aqui"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2912,
        1184
      ],
      "id": "f286bdd9-c102-4152-8e39-4f89d55ea599",
      "name": "msg_erro1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "eb175249-eed9-464a-a90b-e64092114acd",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1376,
        480
      ],
      "webhookId": "2681d2aa-7001-4a33-a5ae-d459c44fe4e2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.whatsapp_lead }}",
        "messageData": "={{ $json.msg.conversa }}",
        "tail": true
      },
      "id": "88b48d1d-61ae-47fd-87b7-d116cee9a8bf",
      "name": "Push",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1584,
        480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "redis": {
          "id": "00mygIGg03hDfm4H",
          "name": "Redis | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('setar_mensagem').item.json.whatsapp_lead }}",
        "keyType": "list",
        "options": {}
      },
      "id": "c109d00b-05f9-4c3c-909a-83b559a3e22d",
      "name": "Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1584,
        800
      ],
      "credentials": {
        "redis": {
          "id": "00mygIGg03hDfm4H",
          "name": "Redis | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('setar_mensagem').item.json.whatsapp_lead }}"
      },
      "id": "54cb44b7-2a38-4373-ab81-e0274fd99d9a",
      "name": "Delete Buffer",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -848,
        720
      ],
      "credentials": {
        "redis": {
          "id": "00mygIGg03hDfm4H",
          "name": "Redis | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5148f5a0-1759-4726-a7cb-9d8556f4b7dd",
              "name": "todas_as_mensagens",
              "value": "={{ $('Get').item.json.message.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        720
      ],
      "id": "0c86fd17-9275-4bc1-81d2-ef842a841281",
      "name": "ConcatenaMsg"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "512bac58-e060-4a8c-bae8-657cac02a1aa",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Wait').item.json.msg.conversa }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        800
      ],
      "id": "ad2a2bf8-d371-49ef-80b5-e7603530517c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        992
      ],
      "id": "8bd8e018-b313-4452-9804-cb084dc1aa63",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17d5e2bb-8f9c-4ae7-beb3-8ef4a7f3c5a0",
              "name": "msg",
              "value": "={{ $('setar_informacoes').first().json.msg.conversa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2704,
        1008
      ],
      "id": "ad10f373-2de1-4e7c-86d7-85cf406b91ad",
      "name": "setarTexto1"
    },
    {
      "parameters": {
        "content": "# Tratamento da Mensagem Vinda por Texto, Imagem ou Áudio",
        "height": 1096,
        "width": 1472,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3248,
        256
      ],
      "id": "418b3858-6229-4b1d-a7f8-deba5067f69f",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# ESPERA DE MENSAGENS",
        "height": 840,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        352
      ],
      "typeVersion": 1,
      "id": "c2d6fe75-501f-4910-bf5f-2c7b60326952",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2afd618-af95-4bf4-b065-94ef38183d50",
                    "leftValue": "={{ $('setar_informacoes').first().json.msg.media }}",
                    "rightValue": "=audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioTranscrito"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1873e517-3369-4cdd-8e15-2443a7dfa617",
                    "leftValue": "={{ $('setar_informacoes').first().json.msg.media }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd779138-5925-4f04-94cc-5306646c85da",
                    "leftValue": "={{ $('setar_informacoes').first().json.msg.conversa }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3200,
        688
      ],
      "id": "2b6ad07b-92b1-4bd7-a7f7-cd5069366fa7",
      "name": "Switch3",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "129a0e9c-af81-4fcf-ab13-164b15b2aaeb",
                    "leftValue": "={{ $('Webhook3').item.json.body.message_type }}",
                    "rightValue": "outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chatwoot"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10172a93-4585-4cba-87f2-a06f4d20e760",
                    "leftValue": "={{ $('Webhook3').item.json.body.conversation.labels }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Etiqueta humano"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4224,
        768
      ],
      "id": "efbf180d-0695-4b2a-adc6-46857319a7a0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "# Filtrar se é atendimento Humano",
        "height": 840,
        "width": 556
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4352,
        368
      ],
      "typeVersion": 1,
      "id": "b5046a85-35a8-4677-a511-caecc71c357a",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "adv-escritorio-escritorio-adv-7485-qikamlzop-78",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4560,
        784
      ],
      "id": "bdc79901-f343-4edb-9168-3db8e6966da4",
      "name": "Webhook3",
      "webhookId": "5710f3e9-a637-40d3-a758-8b8acf8bc67c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setar_informacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setar_informacoes').first().json.msg.id_conta_chatwoot }}/conversations/{{ $('setar_informacoes').first().json.msg.id_conversa_chatwoot }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        752
      ],
      "id": "26eebe41-d2f0-44ca-a40f-384b53a3fcf2",
      "name": "respostaChatwoot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WTaq4r2w5iyC4E2R",
          "name": "Chatwoot | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2656,
        752
      ],
      "id": "4b9571ec-617c-40c3-ba33-5be5fdfd8653",
      "name": "2 segundos",
      "webhookId": "38b25403-3ab5-47b0-9d97-299017be8346"
    },
    {
      "parameters": {
        "content": "# Setar proximos dias e msg",
        "height": 828,
        "width": 372,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        368
      ],
      "typeVersion": 1,
      "id": "5e3453e8-003c-4b59-90c3-33cd831d5050",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "name": "Agendar",
        "description": "=**Quando usar:**\n- Sempre que o lead aceitar **seguir com o agendamento**.  \n- Para buscar horários disponíveis e apresentar opções ao lead.  \n- Para confirmar, reagendar ou cancelar agendamentos já marcados.  \n\n**Quando não usar:**\n- Para responder dúvidas sobre o escritório e serviços (use `sobreEscritorio`). \n\n**CANCELAMENTO — OBRIGATÓRIO:** Sempre que o lead pedir para cancelar, acione esta tool IMEDIATAMENTE antes de qualquer resposta de confirmação verbal.",
        "workflowId": {
          "__rl": true,
          "value": "72ouGwyTr0Qx2b26",
          "mode": "id",
          "cachedResultUrl": "/workflow/72ouGwyTr0Qx2b26"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duvida', `Coloque aqui a intenção que o paciente deseja (ver horários, marcar, cancelar ou reagendar). Seja explicativo e se possível sempre coloque o nome do paciente. Caso o paciente seja Unimed e tenha já falado o numero da carteirinha, sempre inclua aqui.`, 'string') }}",
            "Assunto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Assunto', `Coloque aqui o tipo de assunto/serviço que o lead está buscando. Sempre tente ser o mais detalhista possível.`, 'string') }}",
            "Tipo_de_consulta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_de_consulta', `Coloque aqui o tipo de consulta. A resposta será \"presencial\" ou \"online\" - somente uma dessas.`, 'string') }}",
            "whatsapp_lead": "={{ $json.whatsapp_lead }}",
            "inicio_reuniao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inicio_reuniao', `Timestamp ISO 8601 UTC do início da consulta.\nExemplo: se o lead escolheu 09:00 no fuso America/Bahia (UTC-3),\nenvie: 2026-04-21T12:00:00Z`, 'string') }}",
            "final_reuniao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('final_reuniao', `Timestamp ISO 8601 UTC do fim da consulta, somando 60 minutos ao inicio_reuniao.\nExemplo: se inicio_reuniao for 2026-04-21T12:00:00Z,\nenvie: 2026-04-21T13:00:00Z`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Assunto",
              "displayName": "Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Tipo_de_consulta",
              "displayName": "Tipo_de_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "inicio_reuniao",
              "displayName": "inicio_reuniao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "final_reuniao",
              "displayName": "final_reuniao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        640,
        1024
      ],
      "id": "75f01702-3afa-4f38-9163-c15d8f0c5ed8",
      "name": "Agendar"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date(new Date().toLocaleString('en-US', {timeZone: 'America/Sao_Paulo'}));\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        592
      ],
      "id": "ae261c9b-5b8c-4650-9164-5e5cab7adedf",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8326e9f-dcde-4e0b-a6f0-6a64b1b6a077",
              "name": "URL",
              "value": "={{ $('setar_informacoes').item.json.msg.urlMedia }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2928,
        704
      ],
      "id": "00d726b4-f49b-4f96-b8ca-241d0ab2587d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "=",
        "workflowId": {
          "__rl": true,
          "value": "oCK5NAef2g3Veo2E",
          "mode": "id",
          "cachedResultUrl": "/workflow/oCK5NAef2g3Veo2E"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "NomeLead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NomeLead', `Coloque aqui o nome do lead que esta perguntando.`, 'string') }}",
            "Duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Duvida', `Coloque aqui de forma detalhada a \"query\" que é a duvida do usuário. Se for sobre procedimentos, sempre inclua o nome do serviço que ele deseja auxilio.`, 'string') }}",
            "identificadorLead": "={{ $json.whatsapp_lead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NomeLead",
              "displayName": "NomeLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Duvida",
              "displayName": "Duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "identificadorLead",
              "displayName": "identificadorLead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        512,
        1024
      ],
      "id": "028cbcfd-e31c-4a5b-98cc-eaf403f2a978",
      "name": "sobreEscritorio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_lead }}",
        "options": {
          "systemMessage": "=# CONTEXTO DE SISTEMA (IMPORTANTE)\n- Nome do Lead no CRM: {{ $json.nome_confirmado_crm || 'Desconhecido' }}\n\n# IDENTIDADE\nVocê é a **Camila**, secretária do **Candreva Advocacia**, escritório especializado em Direito de Família e Sucessões. \nSempre fale como parte da equipe, nunca como IA ou assistente virtual.  \nSeu papel é acolher o cliente, ouvir com atenção e guiar naturalmente até a consulta com o advogado responsável.\n\n# SUA FUNÇÃO\n- Atender todos os contatos que chegam pelo WhatsApp do escritório.\n- Realizar **triagem inicial**, entendendo o que o cliente busca resolver.\n- Seguir o fluxo de atendimento para **coletar informações essenciais**.\n- Conduzir o cliente de forma **acolhedora e clara** até o agendamento da consulta.\n- Manter comunicação **humana e objetiva**, sem tom de venda.\n\n# TOM DE VOZ\n- Acolhedor e humano, transmitindo empatia em situações delicadas.\n- Claro e objetivo, sem termos jurídicos complicados.\n- Seguro e profissional, passando confiança ao cliente.\n- Uso moderado de emojis apenas para reforçar acolhimento.\n\n# FLUXO DE ATENDIMENTO\nEtapa 1. Identificação e Boas-vindas\n- Inicie se apresentando como Camila, secretária da Candreva Advocacia.\n- **Se o \"Nome do Lead identificado pelo sistema\" for DIFERENTE de 'Desconhecido':** Você já sabe quem é o cliente. Inicie a conversa saudando-o pelo nome (ex: \"Olá, Elen! Eu sou a Camila, secretária do Candreva Advocacia. Que bom falar com você novamente.\") e pule imediatamente para a **Etapa 2**. Nunca pergunte o nome dele.\n- **Se o \"Nome do Lead identificado pelo sistema\" for IGUAL a 'Desconhecido'**: Peça o nome do cliente de forma educada para poder salvá-lo no sistema. Nenhuma outra pergunta junto. (ex: Olá! Eu sou a Camila, secretária do Candreva Advocacia. Qual é o seu nome, por favor?)\n- Nunca adicione \"Como posso te ajudar?\" ou qualquer outra pergunta junto à apresentação inicial.\n\nEtapa 2. Pergunte sobre qual questão jurídica o cliente precisa de ajuda.\n- Estimule o cliente a contar a situação de forma simples.\n- Informe que, se preferir, pode enviar um **áudio** para facilitar a explicação.\n\n**Exemplo de msg:**\n- “Me conta um pouquinho, qual situação você gostaria de resolver com a gente? Se for mais fácil, pode me mandar um áudio, tudo bem?”\n\nEtapa 3. Criar rapport (aprofundar e entender necessidade)\n- Demonstrar interesse genuíno e acolhedor no caso do cliente.\n- Faça até **2 perguntas**, sempre **uma por vez** (pergunta → aguarda resposta → segue).\n\nEtapa 4 — Explique a consulta\n- Informe que a **consulta é essencial** para o advogado analisar o caso com cuidado e indicar o melhor caminho.\n- Destaque que o atendimento será feito por um **advogado especialista** no assunto informado. \n- Reforce que a consulta pode ser feita **online (videoconferência)** ou **presencial no escritório** e ela é gratuita. \n- Finalize perguntando se a pessoa **prefere marcar a consulta de forma online ou presencial**.\n\nEtapa 5 - Horário disponível\n- Após o lead informar o tipo de consulta (online ou presencial), pergunte para qual dia e horário ele prefere.\n\nEtapa 6 - Verificação de horário\n- Acione a tool 'Agendar' para verificar a disponibilidade do dia e horário sugeridos.\n- IMPORTANTE: Você tem acesso à agenda do escritório. JAMAIS pergunte ao usuário se o horário está disponível. Você deve usar a ferramenta, ler a resposta dela e informar ao usuário se há vaga ou não.\n- Se disponível: Informe que o horário está livre e agora solicite obrigatoriamente o Nome Completo (nome e sobrenome) do lead para que você possa efetivar a reserva no sistema.\n- Regra de Nome: Se o lead fornecer apenas o primeiro nome, peça educadamente o sobrenome. Você só pode avançar para a Etapa 7 com o Nome Completo.\n- Se indisponível: Ofereça alternativas baseando-se no que a ferramenta retornar.\n\nEtapa 7 — Confirmação Final\n- Com o nome completo em mãos, acione a tool 'Agendar' com a instrução clara de \"MARCAR AGENDAMENTO\".\n- ATENÇÃO: O agendamento só é real após o retorno de sucesso desta ferramenta.\n- Envie a mensagem final de confirmação (reforçando dia, hora e modalidade) apenas após receber o OK da ferramenta.\n\n## REGRAS DE ATENDIMENTO\n- **VERIFICAÇÃO DE NOME:** Sua prioridade número 1 é o campo \"Nome do Lead identificado pelo sistema\". Se ele estiver preenchido com um nome real, use-o e nunca peça o nome novamente.\n- Se o nome não estiver no campo de sistema, mas aparecer claramente no histórico da conversa, chame o lead pelo nome e não peça novamente.\n- Sempre faça **uma pergunta por vez**.\n- **DECISIVIDADE:** Se o lead disser um horário (ex: \"14\" ou \"14h\"), entenda como 14:00 imediatamente. Não pergunte se \"houve uma confusão\", apenas verifique a disponibilidade.\n- **CONFIRMAÇÃO ÚNICA:** Só peça para confirmar os dados (nome completo e horário) uma única vez, no momento final, antes de acionar a ferramenta de agendar.\n- Sempre faça uma pergunta por vez.\n- Sua função é conduzir até a consulta, nunca dar conselhos jurídicos.\n- Não responda nenhuma pergunta jurídica ou sobre o caso sem antes saber o nome da pessoa.\n- Nunca explicar leis ou procedimentos jurídicos. Sua função é conduzir até a consulta com o especialista.\n- Ao solicitar um reagendamento, certifique-se de passar para a ferramenta 'Agendar' o NOVO horário escolhido pelo cliente.\n- **CANCELAMENTO DE CONSULTA:** Quando solicitado, você DEVE acionar a tool 'Agendar' antes de confirmar verbalmente. O cancelamento só é real se a tool for chamada.\n\n# TOOLS DISPONÍVEIS\n- **sobreEscritorio**: Informações gerais, endereço, valores e dúvidas sobre o escritório.\n- **Agendar**: Verificar disponibilidade, marcar, reagendar ou cancelar.\n\n## DATA E HORA ATUALIZADOS\nHistórico de dias próximos:\n{{ $json.proximosDias }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        208,
        592
      ],
      "id": "a5038fc5-a2eb-4119-b856-b930bc364967",
      "name": "Advogado IA"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "+5521965842639"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        112
      ],
      "id": "b3e92333-6ef2-4622-ae35-09cba689cdeb",
      "name": "DELETAR HISTORICO",
      "credentials": {
        "postgres": {
          "id": "uoT7wi570ZgcSSnW",
          "name": "Postgres | Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AT49JTla99mucbgf",
          "mode": "id",
          "cachedResultUrl": "/workflow/AT49JTla99mucbgf"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem_lead": "={{ $json.content.join('\\n') }}",
            "whatsapp_lead": "={{ $('setar_informacoes').item.json.msg.whatsapp_lead }}",
            "id_conta_chatwoot": "={{ $('setar_informacoes').item.json.msg.id_conta_chatwoot }}",
            "id_conversa_chatwoot": "={{ $('setar_informacoes').item.json.msg.id_conversa_chatwoot }}",
            "id_Lead_chatwoot": "={{ $('setar_informacoes').item.json.msg.id_Lead_chatwoot }}",
            "inbox_id_chatwoot": "={{ $('setar_informacoes').item.json.msg.inbox_id_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem_lead",
              "displayName": "mensagem_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "whatsapp_lead",
              "displayName": "whatsapp_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta_chatwoot",
              "displayName": "id_conta_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa_chatwoot",
              "displayName": "id_conversa_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_Lead_chatwoot",
              "displayName": "id_Lead_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "inbox_id_chatwoot",
              "displayName": "inbox_id_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3200,
        576
      ],
      "id": "1e3ecaf8-335e-4757-b12e-ca67bbf5cfc5",
      "name": "Call '3- CRM - Escritorio de Advocacia'"
    },
    {
      "parameters": {
        "content": "# Atualizar CRM",
        "height": 560,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3072,
        432
      ],
      "typeVersion": 1,
      "id": "ce0146d5-f0e1-4fd9-a5e6-b049197b010c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ADM",
        "height": 288,
        "width": 512,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "cbf30fa1-410e-4e17-97fe-34ffc1c10576",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "+5521965842639"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "eeb74ff2-7c7c-4258-976a-fdc367464b37",
      "name": "deletar_linha_CRM",
      "credentials": {
        "supabaseApi": {
          "id": "ycZIGpAXZd31iIEF",
          "name": "Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            },
            {
              "id": "bd9d0ddd-0d43-4af3-b915-4ce61d8f20ae",
              "name": "msg.id_conta_chatwoot",
              "value": "={{ $('Webhook3').item.json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "51a05f3c-4695-48c0-8b73-fd1217955488",
              "name": "msg.id_conversa_chatwoot",
              "value": "={{ $('Webhook3').item.json.body.conversation.id.toString() }}",
              "type": "string"
            },
            {
              "id": "5574557a-9a39-426b-8c10-bc272747bc75",
              "name": "msg.id_Lead_chatwoot",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.id.toString() }}",
              "type": "string"
            },
            {
              "id": "debefdb1-4424-4138-b02a-3ae952501cf5",
              "name": "msg.inbox_id_chatwoot",
              "value": "={{ $('Webhook3').item.json.body.conversation.inbox_id }}",
              "type": "string"
            },
            {
              "id": "2445f58a-ffdb-493c-b5b4-b0252342acc0",
              "name": "msg.whatsapp_lead",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].sender.phone_number.replace('+', '') }}",
              "type": "string"
            },
            {
              "id": "645e79d5-a3b1-4588-a348-325681207e07",
              "name": "msg.media",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "e30d7e50-3249-4dda-99ad-0dab3c84601f",
              "name": "msg.urlMedia",
              "value": "={{ $('Webhook3').item.json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            },
            {
              "id": "f1c38212-f12f-4afd-aa0f-23e19f367ffa",
              "name": "msg.timestamp",
              "value": "={{ $json.body.conversation.timestamp }}",
              "type": "number"
            },
            {
              "id": "559fd93f-88e7-4f1a-b512-a8249ea88478",
              "name": "url_chatwoot",
              "value": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/",
              "type": "string"
            },
            {
              "id": "f36762f4-74c2-4245-a5b2-5d005768c097",
              "name": "msg.nome_lead",
              "value": "={{ $node[\"Webhook3\"].json[\"body\"][\"conversation\"][\"messages\"][0][\"sender\"][\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3712,
        720
      ],
      "id": "e35719fe-d922-4b44-b8a1-5de864945f7c",
      "name": "setar_informacoes",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# Seta as informações importantes\n## Importante: (abra esse node e coloque a URL do chatwoot no ultimo campo.)",
        "height": 848,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3760,
        368
      ],
      "typeVersion": 1,
      "id": "81b7ff12-2596-41e9-93a6-7ea35c4d1a64",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4000,
        496
      ],
      "id": "3d782664-4e58-40f7-9128-4a35098efd98",
      "name": "fazer_nada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0da81cd-f320-46b5-beb6-58f719f0c613",
              "name": "msg.conversa",
              "value": "={{ $('Merge2').item.json.msg }}",
              "type": "string"
            },
            {
              "id": "712cba19-ff98-4a85-a154-04090156103c",
              "name": "whatsapp_lead",
              "value": "={{ $('setar_informacoes').item.json.msg.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "00a13277-8c40-4f96-9780-86fd9e0da566",
              "name": "nome_confirmado_crm",
              "value": "={{ $node[\"ConsultarCRM\"].json[\"nome_lead\"] || 'Desconhecido' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        720
      ],
      "id": "678a7159-f926-4c45-93d0-9374e9deddae",
      "name": "setar_mensagem"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva qual imagem é essa. Sempre comece com: \"Usuário enviou uma imagem....\"",
        "imageUrls": "={{ $json.URL }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -2704,
        704
      ],
      "id": "0ec40061-f243-43a9-8c74-5615f2bafa6b",
      "name": "analisar imagem",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2864,
        576
      ],
      "id": "62814b64-892c-48a6-9df9-d1156cdafc11",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9c67b08f-9cfc-48ee-9a2b-a2748524d311",
              "leftValue": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "rightValue": "+5521965842639",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4608,
        1008
      ],
      "id": "d0f8d8c2-2439-41de-a965-949ce7068871",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "leads",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "keyValue": "={{ $json.msg.whatsapp_lead }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3472,
        720
      ],
      "id": "a486fe4a-4863-43a8-ad40-272b11d4dc90",
      "name": "ConsultarCRM",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ycZIGpAXZd31iIEF",
          "name": "Supabase | Heroic Leap"
        }
      }
    }
  ],
  "pinData": {
    "Webhook3": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.cw3hc8.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "5114",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.cw3hc8.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "7d4b4ce5857b",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "Heroic Leap"
            },
            "additional_attributes": {},
            "content_attributes": {
              "in_reply_to": null,
              "in_reply_to_external_id": null
            },
            "content_type": "text",
            "content": "**+55 7184702520 - Marcelo | Gestor de Tráfego:**\n\nCriativos mostrando o corpo assim com antes e depois eles bloqueiam na hora.",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 20,
                "contact_id": 10,
                "inbox_id": 1,
                "source_id": "87f73a2a-bfaa-4c15-a7e3-54dffbec774f",
                "created_at": "2026-04-19T20:20:04.850Z",
                "updated_at": "2026-04-19T20:20:04.850Z",
                "hmac_verified": false,
                "pubsub_token": "USBHZmBk9PUrEhb8R1qBNE5t"
              },
              "id": 10,
              "inbox_id": 1,
              "messages": [
                {
                  "id": 1747,
                  "content": "**+55 7184702520 - Marcelo | Gestor de Tráfego:**\n\nCriativos mostrando o corpo assim com antes e depois eles bloqueiam na hora.",
                  "account_id": 1,
                  "inbox_id": 1,
                  "conversation_id": 10,
                  "message_type": 0,
                  "created_at": 1776781224,
                  "updated_at": "2026-04-21T14:20:24.692Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:2A7EE6D477E8C0ACA3CF",
                  "content_type": "text",
                  "content_attributes": {
                    "in_reply_to": null,
                    "in_reply_to_external_id": null
                  },
                  "sender_type": "Contact",
                  "sender_id": 10,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "**+55 7184702520 - Marcelo | Gestor de Tráfego:**\n\nCriativos mostrando o corpo assim com antes e depois eles bloqueiam na hora.",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 10,
                    "last_activity_at": 1776781224,
                    "contact_inbox": {
                      "source_id": "87f73a2a-bfaa-4c15-a7e3-54dffbec774f"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "avatar_url_hash": "d09ea53fcb1aca2ef0dae3e5a36aa82b619a6bcf10453e530a47e6b02c0c7c6c",
                      "last_avatar_sync_at": "2026-04-19T20:50:13Z"
                    },
                    "custom_attributes": {},
                    "email": null,
                    "id": 10,
                    "identifier": "120363354758576537@g.us",
                    "name": "🫡 Método Navegantes (GROUP)",
                    "phone_number": null,
                    "thumbnail": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4822a89e728207092440b6025ebd8381c86f4968/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--5714b38daf0cb68bb57a7b8b34836d1985fd9505/580129755_1787485525278134_1924491812909945143_n.jpg",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "avatar_url_hash": "d09ea53fcb1aca2ef0dae3e5a36aa82b619a6bcf10453e530a47e6b02c0c7c6c",
                    "last_avatar_sync_at": "2026-04-19T20:50:13Z"
                  },
                  "custom_attributes": {},
                  "email": null,
                  "id": 10,
                  "identifier": "120363354758576537@g.us",
                  "name": "🫡 Método Navegantes (GROUP)",
                  "phone_number": null,
                  "thumbnail": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4822a89e728207092440b6025ebd8381c86f4968/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--5714b38daf0cb68bb57a7b8b34836d1985fd9505/580129755_1787485525278134_1924491812909945143_n.jpg",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "assignee_type": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "pending",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 10,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1776630004,
              "agent_last_seen_at": 0,
              "contact_last_seen_at": 0,
              "last_activity_at": 1776781224,
              "timestamp": 1776781224,
              "created_at": 1776630004,
              "updated_at": 1776781224.695336
            },
            "created_at": "2026-04-21T14:20:24.692Z",
            "id": 1747,
            "inbox": {
              "id": 1,
              "name": "Heroic Leap"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "Heroic Leap"
              },
              "additional_attributes": {
                "avatar_url_hash": "d09ea53fcb1aca2ef0dae3e5a36aa82b619a6bcf10453e530a47e6b02c0c7c6c",
                "last_avatar_sync_at": "2026-04-19T20:50:13Z"
              },
              "avatar": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4822a89e728207092440b6025ebd8381c86f4968/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--5714b38daf0cb68bb57a7b8b34836d1985fd9505/580129755_1787485525278134_1924491812909945143_n.jpg",
              "custom_attributes": {},
              "email": null,
              "id": 10,
              "identifier": "120363354758576537@g.us",
              "name": "🫡 Método Navegantes (GROUP)",
              "phone_number": null,
              "thumbnail": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBJUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4822a89e728207092440b6025ebd8381c86f4968/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--5714b38daf0cb68bb57a7b8b34836d1985fd9505/580129755_1787485525278134_1924491812909945143_n.jpg",
              "blocked": false
            },
            "source_id": "WAID:2A7EE6D477E8C0ACA3CF",
            "event": "message_created"
          },
          "webhookUrl": "https://n8n-n8n.cw3hc8.easypanel.host/webhook/adv-escritorio-escritorio-adv-7485-qikamlzop-78",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "setarInfo": {
      "main": [
        [
          {
            "node": "Advogado IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "respostaChatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "quebrar_mensagem": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarMsgAgent": {
      "main": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "quebrar_mensagem",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "Advogado IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Advogado IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarImg1": {
      "main": [
        []
      ]
    },
    "setarAudio": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transcreverAudio": {
      "main": [
        [
          {
            "node": "setarAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixarAudio": {
      "main": [
        [
          {
            "node": "transcreverAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "setar_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Buffer": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConcatenaMsg": {
      "main": [
        [
          {
            "node": "Delete Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ConcatenaMsg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarTexto1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "baixarAudio",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "setarTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "msg_erro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "fazer_nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "fazer_nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "setar_informacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respostaChatwoot": {
      "main": [
        [
          {
            "node": "2 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2 segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "Advogado IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "analisar imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sobreEscritorio": {
      "ai_tool": [
        [
          {
            "node": "Advogado IA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Advogado IA": {
      "main": [
        [
          {
            "node": "setarMsgAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setar_informacoes": {
      "main": [
        [
          {
            "node": "ConsultarCRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setar_mensagem": {
      "main": [
        [
          {
            "node": "Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analisar imagem": {
      "main": [
        [
          {
            "node": "setarImg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Call '3- CRM - Escritorio de Advocacia'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        []
      ]
    },
    "ConsultarCRM": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f9c65c76-ba29-40b4-a795-d91229481341",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd23b4d0be4dd939efa78787b912105fba074f6766a8c4ab96351fd4f3b4ddad"
  },
  "id": "ahrEiQKNRgJAMSYk",
  "tags": []
}