automacoes/2- sobreEscritorio - Escritorio de Advocacia.json
{
  "name": "2- sobreEscritorio - Escritorio de Advocacia",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        160
      ],
      "id": "6528551f-b81b-4613-b099-2d7ff5759785",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# SOBRE O ESCRITORIO\n",
        "height": 712,
        "width": 1484,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "fe7a5981-c464-4b60-9ad9-642dc5573df5",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67752c6a-09ad-430f-a14a-e800543efc8b",
              "name": "NomeLead",
              "value": "=Nome do lead: {{ $('When Executed by Another Workflow').item.json.NomeLead }}",
              "type": "string"
            },
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "msgLead",
              "value": "={{ $('When Executed by Another Workflow').item.json.Duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "identificadorLead",
              "value": "={{ $('When Executed by Another Workflow').item.json.identificadorLead }}",
              "type": "string"
            },
            {
              "id": "de41c67a-c3a9-4667-a1b1-29a90cf54fb0",
              "name": "proximosDias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        160
      ],
      "id": "92fd81eb-33b8-4685-bc32-035d963af77d",
      "name": "setarInfo5"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "NomeLead"
            },
            {
              "name": "Duvida"
            },
            {
              "name": "identificadorLead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        160
      ],
      "id": "c98f128e-a02e-4d48-a7bf-a11c9c7e8ca7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInfo5').item.json.identificadorLead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        848,
        368
      ],
      "id": "c8568b87-a760-499d-8778-2f60d283c265",
      "name": "Memoria 1",
      "credentials": {
        "postgres": {
          "id": "uoT7wi570ZgcSSnW",
          "name": "Postgres | Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        160
      ],
      "id": "00532860-423c-4034-b2e7-05310e1ccab4",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.msgLead }}\n\n{{ $json.NomeLead }}",
        "options": {
          "systemMessage": "=## IDENTIDADE E FUNÇÃO\nVocê é um **agente de apoio interno** que atua exclusivamente nos bastidores do escritório advocacia **Candreva Advocacia**.  \nSua função é responder apenas com as informações solicitadas pela secretária **Camila**, sem saudações, sem perguntas extras e sem oferecer agendamento.  \nSeja sempre **direto e objetivo**, retornando somente o dado solicitado.\n\n## REGRAS DE ATENDIMENTO\n- Nunca inventar informações que não estejam neste documento.\n- Responder **somente** o que for solicitado, sem acrescentar informações extras.\n- Nunca trazer **saudações, despedidas ou mensagens de acolhimento**.\n- PROIBIDO sugerir, convidar ou mencionar agendamento de qualquer forma. Isso inclui frases como 'gostaria de agendar?', 'podemos marcar uma consulta', 'ficamos felizes em ajudar' ou qualquer variação. Essa função pertence exclusivamente à secretária Camila.\n- Retorne da tool somente a informação que responde diretamente ao que foi perguntado. Se a tool retornar mais dados do que o necessário, filtre e entregue apenas o trecho relevante para a pergunta feita. Exemplo: se o lead perguntou apenas onde fica o escritório, retorne somente o endereço. Não inclua horários, redes sociais ou outras informações não solicitadas.\n- **Não interprete nem complemente** as respostas das tools.\n- **Não formule textos próprios**, sugestões ou explicações adicionais.\n- **Nunca falar de valores de serviços.** Os valores só são definidos no momento da consulta (presencial ou online).\n- Caso o lead pergunte **especificamente** sobre o valor da consulta, informe que ela é **gratuita**.\n- Nunca ofereça essa informação de forma espontânea; só fale se o lead perguntar diretamente.\n- Para consultar os serviços prestados pelo escritório, consulte obrigatoriamente a tool `'servicos_tool'`\n\n# TOOLS DISPONÍVEIS\n\n## TOOL: `servicos_tool`\n-  Sempre que o lead perguntar sobre **quais serviços o escritório oferece** ou detalhes de algum serviço, é **obrigatório acionar a tool `servicos_tool`**.\n- Quando o lead perguntar apenas se o escritório trabalha com determinado serviço, responda somente sim ou não, confirmando que o serviço está disponível. Não entregue a descrição completa do serviço a menos que o lead peça explicitamente mais detalhes.\n-  Essa tool deve ser acionada **todas as vezes**, mesmo que a pergunta já tenha sido feita anteriormente.\n- Nunca responda diretamente sobre serviços; a função é **sempre consultar a tool** e retornar o que ela informar.\n-  Se a informação não estiver disponível na tool, responda apenas: **“Serviço não disponível pelo escritório.”**\n\n## TOOL: `infoTool`\nEssa tool sempre deverá ser acionada quando:\n- o lead perguntar sobre **endereço, localização ou como chegar** ao escritório.\n- o lead quiser saber **horário de funcionamento** ou se o escritório está aberto.\n- o lead pedir **redes sociais, Instagram ou site**.\n- a dúvida for sobre **informações institucionais ou de contato** do escritório.\n\n## QUEBRA DE OBJEÇÕES\n\n**Função:**  \nEste tópico serve para orientar como agir quando o lead apresentar qualquer tipo de objeção — seja dúvida, resistência, insegurança ou recusa. O objetivo é conduzir a conversa de forma humana e estratégica, mostrando segurança e levando o lead ao próximo passo: a consulta com o advogado.\n\n**Instruções:**\n- Responder sempre de forma **calma, acolhedora e respeitosa**, nunca confrontando o lead.\n- Mostrar que a situação do lead é **compreensível** e que a equipe jurídica está preparada para orientar.\n- Reforçar que a **consulta com advogado especialista** é o momento certo para esclarecer dúvidas, avaliar documentos e indicar soluções.\n- Transmitir **segurança e autoridade**, destacando a importância de resolver cedo para evitar complicações maiores.\n- Manter tom **humano e persuasivo**, sempre redirecionando a conversa para o **agendamento da consulta** como passo natural.\n- Nunca desistir na primeira resistência; busque ajustar a resposta, mantendo o diálogo leve até superar a objeção.\n\n## DATA E HORA ATUALIZADOS\nPara efeito de contexto durante as suas conversas segue a data e hora de hoje e os próximos dias:\n{{ $json.proximosDias }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        784,
        160
      ],
      "id": "0d543dc2-216e-4639-be5a-8ca15348f63c",
      "name": "Advocacia"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16QdzNIqH5vtka9E63o0wqCKzBJR4laEidzz3ZaErrps",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "servicoTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16QdzNIqH5vtka9E63o0wqCKzBJR4laEidzz3ZaErrps/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1024,
        368
      ],
      "id": "5f0ce11c-f1d7-40b9-b731-0a67987f7251",
      "name": "servicos_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oNm1b4lUXuKZrbFD",
          "name": "Google Sheets | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        560
      ],
      "id": "aa725929-71cf-4398-b34a-9ac503237237",
      "name": "2.5 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "PgYI1X5pTcNOLjfy",
          "name": "Gemini | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        368
      ],
      "id": "9dfec3de-638c-4e3d-a27e-1d915296b387",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16QdzNIqH5vtka9E63o0wqCKzBJR4laEidzz3ZaErrps",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1870160468,
          "mode": "list",
          "cachedResultName": "infoTool",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16QdzNIqH5vtka9E63o0wqCKzBJR4laEidzz3ZaErrps/edit#gid=1870160468"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1152,
        368
      ],
      "id": "0d95a449-52a7-459d-aab6-7989db4c081f",
      "name": "infoTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oNm1b4lUXuKZrbFD",
          "name": "Google Sheets | Heroic Leap"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "setarInfo5": {
      "main": [
        [
          {
            "node": "Advocacia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria 1": {
      "ai_memory": [
        [
          {
            "node": "Advocacia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Advocacia": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "servicos_tool": {
      "ai_tool": [
        [
          {
            "node": "Advocacia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2.5 flash": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Advocacia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "infoTool": {
      "ai_tool": [
        [
          {
            "node": "Advocacia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "8076840d-6f9f-45e6-a4fd-f67f6fa30fe7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd23b4d0be4dd939efa78787b912105fba074f6766a8c4ab96351fd4f3b4ddad"
  },
  "id": "oCK5NAef2g3Veo2E",
  "tags": []
}