automacoes/2- sobreEmpresa.json
{
  "name": "2- sobreEmpresa  | Heroic Leap",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = `Hoje é ${days[now.getDay()]} ${pad(now.getDate())}/${pad(now.getMonth()+1)}/${String(now.getFullYear()).slice(2)} às ${pad(now.getHours())}:${pad(now.getMinutes())}\\n`;\n\nfor (let i = 1; i <= 6; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `A próxima ${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth()+1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        208
      ],
      "id": "a97da6c6-db7a-44c6-b2e4-fcec2bc13301",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dad3bda-9329-49d4-abcb-0b88c40f04ce",
              "name": "proximos_dias",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "183c1e3d-df72-4dc6-a263-4593a53fa0dd",
              "name": "lead_mensagem",
              "value": "={{ $('serviTool').item.json.lead_mensagem }}",
              "type": "string"
            },
            {
              "id": "9e40b773-14f2-442c-a343-52e822279ee0",
              "name": "whatsapp_lead",
              "value": "={{ $('serviTool').item.json.whatsapp_lead }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        208
      ],
      "id": "2b23f7f6-bbea-4f6c-871d-d528e2b22fc7",
      "name": "setarInfo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.lead_mensagem }}",
        "options": {
          "systemMessage": "=# IDENTIDADE\n- Você é um **agente interno da Empresa**.\n- Você é responsável por acionar e coordenar as tools especializadas conforme a necessidade identificada nas mensagens.  \n- Você **não conversa diretamente com o cliente final** — todas as solicitações chegam através da secretária ou atendente de IA.  \n- Seu papel é **atuar nos bastidores**, garantindo que cada resposta venha da tool correta e seja entregue de forma precisa e fiel.\n\n# SUA FUNÇÃO\n-   Sua função é **acionar automaticamente as tools corretas** conforme a necessidade identificada nas mensagens recebidas pela secretária. \n-   Você deve **encaminhar a solicitação para a tool apropriada**, aguardar o retorno e devolver a resposta. \n-   Pode acionar **mais de uma tool ao mesmo tempo** quando a necessidade envolver **diferentes tipos de serviços**.\n-   Nunca gere respostas próprias — apenas **coordene o acionamento e o retorno** das tools responsáveis por cada tipo de informação.\n-   Seu papel é garantir que a secretária sempre receba **a resposta correta, completa e vinda da tool especializada**.\n\n# REGRAS DE ATENDIMENTO\n-   Responda somente o que foi solicitado, sem saudações ou informações extras.\n-   Nunca responda diretamente nenhuma pergunta sem antes **acionar a tool correspondente**.\n-   **Jamais modifique, reescreva ou resuma** a resposta recebida de uma tool — devolva o conteúdo exatamente como foi retornado.\n-   **Não interprete nem complemente** as respostas das tools.\n-   **Não tome decisões** sobre qual informação é mais relevante — todas as respostas devem vir integralmente das tools acionadas.\n-   **Não formule textos próprios**, sugestões ou explicações adicionais.\n-   Em casos em que o usuário mencione **mais de um tipo de necessidade**, acione **todas as tools relacionadas** e una as respostas sem alterar o conteúdo.\n\n# TOOLS DISPONÍVEIS\n\n## TOOL: `facialTool` (Categoria 1)\n\n**✅ Quando chamar:**\n\n-   Quando o cliente mencionar **serviços faciais, face, pele do rosto ou rejuvenescimento facial**.\n-   Quando citar qualquer serviço dessa categoria.\n-   Quando demonstrar interesse em **melhorar a aparência do rosto**.\n-   Quando estiver em dúvida sobre qual serviço fazer, mas a queixa for **facial**.\n\n**🚫 Quando não chamar:**\n\n-   Se a queixa for de outra categoria (corporal, etc.).\n\n## TOOL: `corporalTool` (Categoria 2)\n\n\n**✅ Quando chamar:**\n\n-   Quando o cliente mencionar **serviços corporais** — flacidez, gordura localizada, emagrecimento ou contorno corporal.\n-   Quando o objetivo for **melhorar a aparência corporal** de qualquer forma.\n\n**🚫 Quando não chamar:**\n\n-   Se a queixa for **facial**.\n\n## TOOL: `injetaveisTool` (Categoria 3)\n\n**✅ Quando chamar:**\n-   Quando o cliente mencionar **qualidade da pele, hidratação ou cuidados profundos**.\n-   Quando quiser montar **uma rotina de cuidados personalizados**.\n\n**🚫 Quando não chamar:**\n\n-   Se a queixa for puramente estética de outra categoria.\n\n## TOOL: `infoTool` (Institucional)\n\n**✅ Quando chamar:**\n\n-   Quando o cliente perguntar sobre **endereço, localização ou como chegar** à empresa.\n-   Khi quiser saber **horário de funcionamento**.\n-   Quando pedir **redes sociais, site ou contato**.\n-   Quando a dúvida for sobre **informações institucionais**.\n\n**🚫 Quando não chamar:**\n\n-   Se a pergunta for sobre **serviços ou queixas específicas** → acionar a tool correspondente.\n\n## DATAS ATUAL E FUTURAS\n{{ $json.proximos_dias }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1168,
        112
      ],
      "id": "b0046186-d5cf-430a-806d-01f111c409b3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.whatsapp_lead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1056,
        320
      ],
      "id": "3c47c3dc-6a57-4bcd-afdc-0aca6c23813a",
      "name": "memoria",
      "credentials": {
        "postgres": {
          "id": "53gCxC2RPywoGJZS",
          "name": "Postgres - Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d7cbbec-49f9-480a-b9dd-055752d40908",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        224
      ],
      "id": "6989614e-ca79-49eb-b20f-b0d239183860",
      "name": "response"
    },
    {
      "parameters": {
        "content": "# Agente de IA",
        "height": 464,
        "width": 880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        0
      ],
      "typeVersion": 1,
      "id": "cc3d3ddf-3b88-48c7-9feb-59e756e12fd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "lead_mensagem"
            },
            {
              "name": "whatsapp_lead"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        208
      ],
      "id": "a3077e90-bd7c-4e57-9312-50761571f1e9",
      "name": "serviTool"
    },
    {
      "parameters": {
        "content": "## TOOLS DE SERVIÇOS:",
        "height": 208,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        544
      ],
      "typeVersion": 1,
      "id": "7121efdc-9fb4-4e5f-bc64-fcbf89db3bd1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14x4428iDLML1Uix-CMxPL9qrgyn6YvX0q2kSX8Z_E3M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "facialTool"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        592
      ],
      "id": "868c1752-44a7-4130-ad2c-a8c7716ffccd",
      "name": "facialTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fRbD0SlzuGCWZKff",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14x4428iDLML1Uix-CMxPL9qrgyn6YvX0q2kSX8Z_E3M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1779623662,
          "mode": "list",
          "cachedResultName": "corporalTool"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1312,
        592
      ],
      "id": "f91d41f8-d526-4953-a5ea-e5ddc723c046",
      "name": "corporalTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fRbD0SlzuGCWZKff",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ele é acionado através da\n# Secretaria IA",
        "height": 464,
        "width": 384,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "e7e3564e-074c-4403-8c48-f29677106819",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Seta as datas e as informações",
        "height": 464,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        0
      ],
      "typeVersion": 1,
      "id": "604a9a7c-7b08-4684-989e-ad3dfdd361fc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Resposta: ela é devolvida para a secretaria",
        "height": 464,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        0
      ],
      "typeVersion": 1,
      "id": "5e6b94d0-764a-474b-9d72-1ce795908953",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        320
      ],
      "id": "734825d3-773c-42e3-b46b-ca23a2a93fc1",
      "name": "2.5 flash",
      "credentials": {
        "googlePalmApi": {
          "id": "XJlnKWM63U7uIt7j",
          "name": "Gemini"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14x4428iDLML1Uix-CMxPL9rgyn6YvX0q2kSX8Z_E3M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1179388277,
          "mode": "list",
          "cachedResultName": "injetaveisTool"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1456,
        592
      ],
      "id": "9a2eef42-3e2a-4b0c-994d-cd6c21e45417",
      "name": "injetaveisTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fRbD0SlzuGCWZKff",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## DADOS\n## DA EMPRESA:",
        "height": 208,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        544
      ],
      "typeVersion": 1,
      "id": "64993ee3-ff17-4afc-871d-d9342a34054d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14x4428iDLML1Uix-CMxPL9rgyn6YvX0q2kSX8Z_E3M",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1263999224,
          "mode": "list",
          "cachedResultName": "infoTool"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1824,
        592
      ],
      "id": "8a9ac5c9-fc39-4664-92c7-f57fa310c8da",
      "name": "infoTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fRbD0SlzuGCWZKff",
          "name": "Google Sheets"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoria": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "serviTool": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "facialTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "corporalTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "injetaveisTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "infoTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5bc62136-5865-4633-ae95-fe8faf2c25e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd3f555560da593715f2409944039c2dd529d28b002c9eefb22eeac5fd695ee6"
  },
  "id": "Z7JtkUvo9q5t00J3",
  "tags": []
}