automacoes/8- Follow UP de 24 horas - Aurora Advocacia.json
{
  "name": "8- Follow UP de 24 horas - Aurora Advocacia",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1072,
        640
      ],
      "id": "4cd164e9-e839-4dfb-865c-0bcba51c7584",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "sxs3E7CAPsG8uL5n",
          "name": "OpenAI | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        416
      ],
      "id": "9404a785-287e-4fe7-98a2-c9d8d5aca4dd",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        704,
        400
      ],
      "id": "0b5f7a7b-d913-4c2f-a770-4b3be1e077bf",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        384
      ],
      "id": "e4d99465-403c-4fcd-9d06-876a14cbb14b",
      "name": "Loop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setarInformacoes').item.json.id_conta_chatwoot }}/conversations/{{ $('setarInformacoes').item.json.id_conversa_chatwoot }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        400
      ],
      "id": "dc970b4c-1a5a-41a3-b186-48a158b79729",
      "name": "enviarMsgLead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "WTaq4r2w5iyC4E2R",
          "name": "Chatwoot | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        400
      ],
      "id": "fbd72f2d-c8a6-4f09-a411-27be7e42043d",
      "name": "Wait",
      "webhookId": "b6f37c6e-976c-467d-be46-f84c38c324fa"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        704,
        640
      ],
      "id": "34e40349-bf53-4b72-b8ef-d458c83a0f7b",
      "name": "memoriaLead",
      "credentials": {
        "postgres": {
          "id": "uoT7wi570ZgcSSnW",
          "name": "Postgres | Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d57e2c51-88bf-4a96-a7dd-f2e0ef7fee4c",
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROSSEGUIR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "3bc09cc4-2b65-4bb4-88a9-032b121cf0a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "não prosseguir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        352
      ],
      "id": "fe861a38-d5e1-4a3e-865f-540468bc1a8b",
      "name": "verificarChatWoot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        512
      ],
      "id": "c7b64d15-f0c2-40c0-a62e-804582d9cd4a",
      "name": "não fazer nada"
    },
    {
      "parameters": {
        "content": "# Aciona a cada 1 hora",
        "height": 480,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        192
      ],
      "typeVersion": 1,
      "id": "d351c785-e344-4f7d-b649-57de164a27b2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99f23408-3488-4b8d-811f-c5d2c0734591",
              "name": "whatsapp_lead",
              "value": "={{ $('PuxarDadosLead').item.json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "9d7b9cd7-ab8e-4959-bc1d-fbacb9db870e",
              "name": "id_conta_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_conta_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bb450359-5e52-4041-9307-68ca0a8e9de7",
              "name": "id_conversa_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_conversa_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bf9d30c9-e9c6-4e64-ab4b-53de229dcaee",
              "name": "id_lead_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_lead_chatwoot }}",
              "type": "string"
            },
            {
              "id": "ca04c0d1-c42b-40a4-a7ae-35a28dc3990a",
              "name": "inbox_id_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.inbox_id_chatwoot }}",
              "type": "string"
            },
            {
              "id": "727bf695-eace-44ab-ba77-d7fb9e441af2",
              "name": "url_chatwoot",
              "value": "https://chatwoot-chatwoot.cw3hc8.easypanel.host/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        384
      ],
      "id": "40e4a093-57f4-4522-8eb4-86b09d674cd4",
      "name": "setarInformacoes"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "v_leads",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "minutos_ultima_mensagem",
              "condition": "gte",
              "keyValue": "1440"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        416
      ],
      "id": "9a7799b8-96b9-45bc-a799-bd68c52bd13a",
      "name": "PuxarDadosLead",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "ycZIGpAXZd31iIEF",
          "name": "Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d68f79e-5b79-4cb3-b19d-0accbd6cd8ad",
              "leftValue": "={{ $json.status }}",
              "rightValue": "consulta_agendada",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "eba999a3-90ae-4a4c-892b-da2c9775a053",
              "leftValue": "={{ $json.status }}",
              "rightValue": "reagendado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        480
      ],
      "id": "015feafa-dd9b-450c-b308-cac98195a3fd",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d308b9b-1224-42c2-87b0-89b46e273350",
              "leftValue": "={{ $json.follow_up_1 }}",
              "rightValue": "Pendente",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        480
      ],
      "id": "8861e352-03ea-4b0c-98b2-4d329317dec5",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Puxa todos os leads da tabela",
        "height": 480,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        192
      ],
      "typeVersion": 1,
      "id": "f28cb858-bb16-4911-8168-9db3f9eb2bba",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Verifica o status do lead. Não pode ser quem já esta agendado",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        192
      ],
      "typeVersion": 1,
      "id": "55d45696-113f-4832-96ee-35115da63261",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Verifica se o \"Follow UP 1\" não foi realizado",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        192
      ],
      "typeVersion": 1,
      "id": "7347ebd7-7a28-49d3-acde-791dbdefb27b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Verifica se o ID da conversa existe para enviar pelo Chatwoot",
        "height": 480,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        192
      ],
      "typeVersion": 1,
      "id": "ff2f19ee-663b-43d6-860c-9a07f2d3907b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Setar informações",
        "height": 480,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        192
      ],
      "typeVersion": 1,
      "id": "1468d909-9fcb-4742-ba20-d360625d9ffb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1892,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        192
      ],
      "typeVersion": 1,
      "id": "80d8c930-ba31-43a1-84c9-7f4b0fa5ac47",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1280,
        656
      ],
      "id": "823abaf4-7f6a-4e88-9084-4b1e50015ffa",
      "name": "memoriaLead1",
      "credentials": {
        "postgres": {
          "id": "uoT7wi570ZgcSSnW",
          "name": "Postgres | Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_1",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "follow_up"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1744,
        400
      ],
      "id": "060e4455-c4ef-4cc3-9382-cca2c05df962",
      "name": "marcar_follow_up",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "ycZIGpAXZd31iIEF",
          "name": "Supabase | Heroic Leap"
        }
      }
    },
    {
      "parameters": {
        "content": "# Atenção:\n## Inserir a URL do seu Chatwoot nesse node",
        "height": 192,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "7a2daf51-04bf-4af8-a0ac-2752fa171e48",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Histórico de conversa: {{ JSON.stringify($json.messages, null, 2) }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é **Camila**, secretária de um escritório de advocacia.  \nVocê é especialista em follow-up natural e leve para retomar conversas no WhatsApp.\n\n## FUNÇÃO\n\n-   Ler as últimas mensagens trocadas entre você e o cliente.\n-   Entender em que ponto a conversa parou.\n-   Criar **uma mensagem única, humanizada e natural** para retomar o diálogo.\n-   Estimular o cliente a responder sem pressão.\n\n## REGRAS DE MENSAGEM\n\n-   Nunca se apresente, nunca peça nome ou dados já informados.\n-   Seja breve, como uma conversa normal no WhatsApp.\n-   Use o nome do cliente, se estiver disponível.\n-   Não pressione, não cobre retorno e não mencione tempo de ausência.\n-   Nunca repita a última pergunta ou informação enviada.\n-   Se a sua última mensagem tinha link, instrução ou orientação jurídica, não repita.\n-   Retome o assunto de forma simpática e profissional, com naturalidade.\n-   Emojis só se fizer sentido e sempre de maneira moderada.\n-   Passe segurança e disponibilidade para ajudar.\n-   Data e hora de agora: {{ $now }}\n\n## EXEMPLOS DE MENSAGENS\nExemplo 1:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 2:\n\"Ficou alguma dúvida que eu possa esclarecer pra você?\"\n\nExemplo 3:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 4:\n\"Olá, esta ai ainda?\"\n\nExemplo 5:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 6:\n\"Olá, chegou a ver o que te mandei?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1120,
        400
      ],
      "id": "9a4858b1-f022-43cf-a634-86971395a66e",
      "name": "Follow UP 2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Follow UP 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "PuxarDadosLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Follow UP 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarMsgLead": {
      "main": [
        [
          {
            "node": "marcar_follow_up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificarChatWoot": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "não fazer nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarDadosLead": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "verificarChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead1": {
      "ai_memory": [
        [
          {
            "node": "Follow UP 2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "marcar_follow_up": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow UP 2": {
      "main": [
        [
          {
            "node": "enviarMsgLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "3fe4466d-f6ba-4259-a78d-96aeeb280f11",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd23b4d0be4dd939efa78787b912105fba074f6766a8c4ab96351fd4f3b4ddad"
  },
  "id": "KrVqcFmsnXD56rry",
  "tags": []
}