automacoes/Follow-Up/3- Follow UP de 36 horas _ Ellegance Clínica Integrada.json
{
  "name": "3- Follow UP de 36 horas | Ellegance Clínica Integrada",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1072,
        640
      ],
      "id": "fb0c844c-2257-4e12-82a9-5e7a0618b63e",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */10 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2064,
        416
      ],
      "id": "9bebb390-4a38-4d00-86d4-46ebcb4b3de7",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        704,
        400
      ],
      "id": "2db876c8-68d1-48bd-850a-5c4961d559ad",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        384
      ],
      "id": "fedd6baf-10b7-4066-ac43-c92788574312",
      "name": "Loop"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('setarInformacoes').item.json.url_chatwoot }}api/v1/accounts/{{ $('setarInformacoes').item.json.id_conta_chatwoot }}/conversations/{{ $('setarInformacoes').item.json.id_conversa_chatwoot }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1472,
        400
      ],
      "id": "731e3b87-0fc4-4c26-a584-8ac3eacb475d",
      "name": "enviarMsgLead",
      "credentials": {
        "httpHeaderAuth": {
          "id": "voEs24CcUUXw3ksP",
          "name": "Chatwoot - Heroic Leap Health"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1984,
        400
      ],
      "id": "26d0be1c-df12-41ee-a81b-a5afb89be299",
      "name": "Wait",
      "webhookId": "b6f37c6e-976c-467d-be46-f84c38c324fa"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        704,
        640
      ],
      "id": "4abaf41b-6fae-4851-a903-e04b0b32bdc0",
      "name": "memoriaLead"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d57e2c51-88bf-4a96-a7dd-f2e0ef7fee4c",
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PROSSEGUIR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id_conta_chatwoot }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "3bc09cc4-2b65-4bb4-88a9-032b121cf0a3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "não prosseguir"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        352
      ],
      "id": "84aae1ec-ab73-443f-8369-f572b7305cf8",
      "name": "verificarChatWoot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -272,
        512
      ],
      "id": "824c770c-3fb0-4d4b-abf0-2588e2f269cf",
      "name": "não fazer nada"
    },
    {
      "parameters": {
        "content": "# Aciona a cada 1 hora",
        "height": 480,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        192
      ],
      "typeVersion": 1,
      "id": "241a9adf-352d-45db-b83c-475a406d3392",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99f23408-3488-4b8d-811f-c5d2c0734591",
              "name": "whatsapp_lead",
              "value": "={{ $('PuxarDadosLead').item.json.whatsapp_lead }}",
              "type": "string"
            },
            {
              "id": "9d7b9cd7-ab8e-4959-bc1d-fbacb9db870e",
              "name": "id_conta_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_conta_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bb450359-5e52-4041-9307-68ca0a8e9de7",
              "name": "id_conversa_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_conversa_chatwoot }}",
              "type": "string"
            },
            {
              "id": "bf9d30c9-e9c6-4e64-ab4b-53de229dcaee",
              "name": "id_lead_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.id_lead_chatwoot }}",
              "type": "string"
            },
            {
              "id": "ca04c0d1-c42b-40a4-a7ae-35a28dc3990a",
              "name": "inbox_id_chatwoot",
              "value": "={{ $('PuxarDadosLead').item.json.inbox_id_chatwoot }}",
              "type": "string"
            },
            {
              "id": "727bf695-eace-44ab-ba77-d7fb9e441af2",
              "name": "url_chatwoot",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        384
      ],
      "id": "68578b88-9ead-4027-97c1-594fb7f1d624",
      "name": "setarInformacoes"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "vw_leads_com_tempo",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "minutos_ultima_mensagem",
              "condition": "gte",
              "keyValue": "2160"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        416
      ],
      "id": "603021af-5d88-4bb0-9333-4d022a4f4e97",
      "name": "PuxarDadosLead",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d68f79e-5b79-4cb3-b19d-0accbd6cd8ad",
              "leftValue": "={{ $json.status }}",
              "rightValue": "consulta_agendada",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1328,
        480
      ],
      "id": "8c317a3b-2f1d-42dd-b9a1-b64a545d3211",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d308b9b-1224-42c2-87b0-89b46e273350",
              "leftValue": "={{ $json.follow_up_1 }}",
              "rightValue": "Pendente",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        480
      ],
      "id": "86bb2740-44af-4f76-8ccc-1ad34c8af388",
      "name": "If"
    },
    {
      "parameters": {
        "content": "# Puxa todos os leads da tabela",
        "height": 480,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        192
      ],
      "typeVersion": 1,
      "id": "e2c63ca2-ab33-44a3-b8d0-3117ce0c0d28",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Verifica o status do lead. Não pode ser quem já esta agendado",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        192
      ],
      "typeVersion": 1,
      "id": "14123e23-6107-4029-ac5d-1c17b8e2a96a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Verifica se o \"Follow UP 1\" não foi realizado",
        "height": 480,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        192
      ],
      "typeVersion": 1,
      "id": "30d01553-e711-4a23-ad6c-16d2e6d5f7a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Verifica se o ID da conversa existe para enviar pelo Chatwoot",
        "height": 480,
        "width": 580
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        192
      ],
      "typeVersion": 1,
      "id": "643c458c-5989-45c6-8058-1014a0a81462",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Setar informações",
        "height": 480,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        192
      ],
      "typeVersion": 1,
      "id": "72e5b2af-9d62-4715-bd56-0a77f27bbced",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1892,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        192
      ],
      "typeVersion": 1,
      "id": "1b7722b7-390e-41f2-8384-9906813ae566",
      "name": "Sticky Note58"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('setarInformacoes').item.json.whatsapp_lead }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1280,
        656
      ],
      "id": "ba1b7803-a872-4a21-95fd-6746bcf9b9fb",
      "name": "memoriaLead1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "leads_adv",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_lead",
              "condition": "eq",
              "keyValue": "={{ $('setarInformacoes').item.json.whatsapp_lead }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "follow_up_1",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "follow_up"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1744,
        400
      ],
      "id": "ae571d7b-87a4-4c6b-b6d8-19354f0a0085",
      "name": "marcar_follow_up",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "# Atenção:\n## Inserir a URL do seu Chatwoot nesse node",
        "height": 192,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "fba2dce2-ce89-43db-9ee7-dbd6910ce287",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Histórico de conversa: {{ JSON.stringify($json.messages, null, 2) }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é **Camila**, secretária de um escritório de advocacia.  \nVocê é especialista em follow-up natural e leve para retomar conversas no WhatsApp.\n\n## FUNÇÃO\n\n-   Ler as últimas mensagens trocadas entre você e o cliente.\n-   Entender em que ponto a conversa parou.\n-   Criar **uma mensagem única, humanizada e natural** para retomar o diálogo.\n-   Estimular o cliente a responder sem pressão.\n\n## REGRAS DE MENSAGEM\n\n-   Nunca se apresente, nunca peça nome ou dados já informados.\n-   Seja breve, como uma conversa normal no WhatsApp.\n-   Use o nome do cliente, se estiver disponível.\n-   Não pressione, não cobre retorno e não mencione tempo de ausência.\n-   Nunca repita a última pergunta ou informação enviada.\n-   Se a sua última mensagem tinha link, instrução ou orientação jurídica, não repita.\n-   Retome o assunto de forma simpática e profissional, com naturalidade.\n-   Emojis só se fizer sentido e sempre de maneira moderada.\n-   Passe segurança e disponibilidade para ajudar.\n-   Data e hora de agora: {{ $now }}\n\n## EXEMPLOS DE MENSAGENS\nExemplo 1:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 2:\n\"Ficou alguma dúvida que eu possa esclarecer pra você?\"\n\nExemplo 3:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 4:\n\"Olá, esta ai ainda?\"\n\nExemplo 5:\n\"Oi! Você chegou a ver minha última mensagem?\"\n\nExemplo 6:\n\"Olá, chegou a ver o que te mandei?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1120,
        400
      ],
      "id": "b88faabc-376a-4bae-9312-f1ab9a016fa0",
      "name": "Follow UP 3"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Follow UP 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "PuxarDadosLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "Follow UP 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviarMsgLead": {
      "main": [
        [
          {
            "node": "marcar_follow_up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "verificarChatWoot": {
      "main": [
        [
          {
            "node": "setarInformacoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "não fazer nada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInformacoes": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PuxarDadosLead": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "verificarChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memoriaLead1": {
      "ai_memory": [
        [
          {
            "node": "Follow UP 3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "marcar_follow_up": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow UP 3": {
      "main": [
        [
          {
            "node": "enviarMsgLead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "6b4dac14-3468-4e6b-9e68-cc645b138b89",
  "meta": {
    "instanceId": "cd3f555560da593715f2409944039c2dd529d28b002c9eefb22eeac5fd695ee6"
  },
  "id": "lwPJcsFYIU8KOTeS",
  "tags": []
}